In [1]:
import pandas as pd

# Load the dataset from the CSV file, excluding the "description" column
df = pd.read_csv('real_estate_data copy.csv').drop(columns=['description'], errors='ignore')

In [2]:
# Print the first few lines of the dataset
print("First few lines:")
df.head()

First few lines:

,price,area,n_bedrooms,n_bathrooms,legal,interior,facing_direction,balcony_direction,front_width,front_road_width,latitude,longitude,verified,location
0,"3,9 tỷ",150 m²,NaN,NaN,Sổ đỏ/ Sổ hồng,NaN,Đông,NaN,6 m,10 m,20.777148,105.745378,1,"Ứng Hòa, Hà Nội"
1,29 tỷ,"118,5 m²",3 phòng,2 phòng,Sổ đỏ/ Sổ hồng,Cơ bản.,NaN,NaN,NaN,NaN,10.784310,106.703097,1,"Quận 1, Hồ Chí Minh"
2,29 tỷ,"118,5 m²",3 phòng,2 phòng,Sổ đỏ/ Sổ hồng,Đầy đủ,Tây - Nam,Đông - Nam,NaN,NaN,10.783668,106.703247,1,"Quận 1, Hồ Chí Minh"
3,"14,9 tỷ",42 m²,7 phòng,5 phòng,Sổ đỏ/ Sổ hồng,NaN,Nam,Nam,"3,5 m",15 m,20.971526,105.835716,1,"Hoàng Mai, Hà Nội"
4,39 tỷ,612 m²,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.850192,106.722671,1,"Thủ Đức, Hồ Chí Minh"

In [3]:
print(df["price"].count())

4999

In [4]:
# Print dataset info
print("\nDataset Info:")
df.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   price              4999 non-null   object
 1   area               4999 non-null   object
 2   n_bedrooms         1994 non-null   object
 3   n_bathrooms        1935 non-null   object
 4   legal              4962 non-null   object
 5   interior           1663 non-null   object
 6   facing_direction   2134 non-null   object
 7   balcony_direction  702 non-null    object
 8   front_width        3719 non-null   object
 9   front_road_width   3505 non-null   object
 10  latitude           4999 non-null   float64
 11  longitude          4999 non-null   float64
 12  verified           5000 non-null   int64
 13  location           5000 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 547.0+ KB

In [6]:
# Print descriptive statistics of the dataset
print("\nDescriptive Statistics:")
df.describe(include="all")

Descriptive Statistics:

,price,area,n_bedrooms,n_bathrooms,legal,interior,facing_direction,balcony_direction,front_width,front_road_width,latitude,longitude,verified,location
count,4999,4999,1994,1935,4962,1663,2134,702,3719,3505,4999.000000,4999.000000,5000.000000,5000
unique,997,1570,35,32,84,144,8,8,338,84,NaN,NaN,NaN,229
top,"4,5 tỷ",100 m²,2 phòng,2 phòng,Sổ đỏ/ Sổ hồng,Đầy đủ,Đông - Nam,Đông - Nam,5 m,6 m,NaN,NaN,NaN,"Quận 9, Hồ Chí Minh"
freq,43,177,472,619,3187,702,504,219,800,382,NaN,NaN,NaN,258
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.130315,106.726404,0.990600,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.552616,0.836667,0.096506,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.887776,103.920809,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.794624,106.303192,1.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.926271,106.693598,1.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.836339,106.785898,1.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.612104,109.343808,1.000000,NaN